.card-container{
  width: 300px;
  padding: 1rem;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  background-color: #c9d2de;
  margin-bottom: 1rem;
}

.card-image{
  width: 100px;
}

.card-options{
  padding-left: 1rem;
  text-align: left;
  display: none;
}

.card-language{
  margin: 10px 0;
  text-transform: capitalize;
  font-weight: 800;
}